.wrapper {
  padding-top: 6rem;
  display: grid;
  place-items: center;

  gap: 2rem;

  .timer{
    font-size: 5.2rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 1rem;
  flex-wrap: wrap;
}

.input {
  font-size: 8rem;
  width: 100%;
  color: #BCABAE;
  max-width: 10rem;
  padding: 0.6rem;
  text-align: center;
}